body
{
    background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h3
{
    font-weight: 200;
    font-size: x-large;
    font-style: italic;
    color: darkred;
}
h4
{
    color:darkblue
}
#camera,#result
{
    border: 5px ridge grey;
    width: 400px;
    height: 350px;
}